<% if @user.tweets %>
	<h3 style="font-size: 120%; color: #666">List of <%= @user.username %>'s tweets:</h3>
	<ul id="tweets_list">
	<% @tweets.each do |tweet| %>	
		<li <% if @tweets.first == tweet %> class="first" <%end%> >
		<%= image_tag tweet.user.image, :size => "50x50" %>
		<div class="tweet_message">
			<%= link_to tweet.user.username, user_path(tweet.user) %>
			<%= h tweet.message %>
			<div class="tweet_info">
				 <%= link_to time_ago_in_words(tweet.created_at), tweet_path(tweet) %> ago
			</div>
		</div>
		<div class="clear"></div>
		</li>
	<%end%>
	</ul>

	<div id="apple_pagination">	
	  <%= will_paginate @tweets %>
	</div>
<% else %>
	<h3 style="font-size: 120%; color: #666"><%= @user.username %> has no tweets :(</h3>
<% end %>
   
   