<h1>Home</h1>
<p>Have fun <%= current_user.username %>!</p>

<%= form_for Tweet.new do |f| %>
	<%= f.text_area :message, :cols => "50", :rows => "3"%>
	<%= f.submit "Post" %>
<%end%>

<ul id="tweets_list">
<% @tweets.each do |tweet| %>	
	<li <% if @tweets.first == tweet %> class="first" <%end%> >
	<%= image_tag tweet.user.image, :size => "50x50" %>
	<div class="tweet_message">
	<b><%= h tweet.user.username %></b>
	<%= h tweet.message %>
	</div>
	<div class="clear"></div>
	</li>
<%end%>
</ul>
