<script type="text/javascript">
$(function(){
	$('#tweet_message').keyup(function() {
		var content_length = $('#tweet_message').val().length;
		var remaining = 140 - content_length;
		$('#char_count').html(remaining);
		if (remaining <20 && remaining >9) {
			$('#char_count').addClass('dark_red');
			$('#char_count').removeClass('red');
		} else if (remaining <10) {
			$('#char_count').addClass('red');
			$('#char_count').removeClass('dark_red');
		} else {
			$('#char_count').removeClass('dark_red').removeClass('red');
		}
	})
})
</script>

<h1>Welcome</h1> 

<% if current_user %>
	<%= form_for Tweet.new do |f| %>
		<div id="new_tweet">
			<h3 style="float: left">What are you doing <%= current_user.username %>?</h3>
			<h3 id="char_count">140</h3>
			<div class="clear"></div>
			<%= f.text_area :message %>
			<% if @last_tweet %>
				<div id="latest_message">
					<strong>Latest: </strong><%= h @last_tweet.message %>
					<%= link_to time_ago_in_words(@last_tweet.created_at) %> ago
				</div>
			<% end %>
			<div id="submit_button">
				<%= f.submit "Post", :class => "button" %>
			</div>
			<div class="clear"></div>
		</div>
	<%end%>
	
	<%= render 'tweets_list' %>
	
<% else %>
	<h1 style="font-size: 120%; color: #666">Here is the 20 most recents tweets:</h1>
	<ul id="tweets_list">
	<% @tweets.each do |tweet| %>	
	<li <% if @tweets.first == tweet %> class="first" <%end%> >
	<%= image_tag tweet.user.image, :size => "50x50" %>
	<div class="tweet_message">
		<%= link_to tweet.user.username, user_path(tweet.user) %>
		<%= h tweet.message %>
		<div class="tweet_info">
			 <%= link_to time_ago_in_words(tweet.created_at), tweet_path(tweet) %> ago
		</div>
	</div>
	<div class="clear"></div>
	</li>
	<%end%>
	</ul>
<% end %>