<h1>Welcome</h1> 

<% if current_user %>
	<%= form_for Tweet.new do |f| %>
		<div id="new_tweet">
			<h3 style="float: left">What are you doing <%= current_user.username %>?</h3>
			<h3 id="char_count">140</h3>
			<div class="clear"></div>
			<%= f.text_area :message %>
			<% if @last_tweet %>
				<div id="latest_message">
					<strong>Latest: </strong><%= h @last_tweet.message %>
					<%= link_to time_ago_in_words(@last_tweet.created_at) %> ago
				</div>
			<% end %>
			<div id="submit_button">
				<%= f.submit "Post", :class => "button" %>
			</div>
			<div class="clear"></div>
		</div>
	<%end%>
	
	<%= render 'tweets_list' %>
	
<% else %>
Login first!
<% end %>